* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Added to stack elements vertically */
}

.buttonContainer {
    margin-top: 20px;
    display: flex; /* Added */
    justify-content: center; /* Added */
}

.buttonContainer button {
    margin: 0 5px; /* Adjust spacing between buttons */
}

.scoreCount {
    display: flex;
    margin-bottom: 20px;
}

.rounded-box {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 10px;
    margin-right: 10px; /* Adjust spacing between boxes */
}

.imageContainer {
    margin: 15px;
    height: 0px; /* Set the width of the container */
    /* Optionally, you can also set a max-width or max-height to prevent the image from becoming too large */
}

.imageContainer img {
    height: 100%; /* Set the width of the image to fill its container */
    width: auto; /* Allow the height to adjust automatically based on the aspect ratio */
    display: block; /* Ensure the image is displayed as a block element */
}

#startButton {
    display: block;
}

#imageDisplay {
    display: none;
}

#giraffeButton {
    display: none;
}

#duckButton {
    display: none;
}

.blurred {
    filter: blur(0px);
}
