/* Base styles */
html,
body {
    height: 100%;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    /* Remove default body margin */
    display: flex;
    /* Use flexbox for vertical centering */
    flex-direction: column;
    /* Stack children vertically */
}

.navbar {
    background-color: #111111;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid;
    border-color: #adadad;
}

#logo {
    height: 50px;
    margin-left: 8px;
}

#favicon {
    margin-right: 8px;
    height: 60px;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #555;
}

#content {
    flex: 1;
    /* Take remaining vertical space */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* Ensure position is relative */
}

/* Centering */

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Change flex direction to row */
}

/* Buttons */
.dark-button {
    font-family: "Retosta", sans-serif; /* Use the custom font as the fallback font */
    margin: 5px; /* Adjust margin */
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #333;
    font-size: 27px;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; /* Display buttons inline */
    line-height: 1; /* Ensure text is centered vertically */
}

.dark-button-lg {
    font-family: "Retosta", sans-serif; /* Use the custom font as the fallback font */
    margin: 5px; /* Adjust margin */
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; /* Display buttons inline */
    line-height: 1; /* Ensure text is centered vertically */
    width: 250px;
    height: 60px;
    font-size: 40px;
}

.dark-button:hover,
.dark-button-lg:hover {
    background-color: #555;
}

/* Scoreboard */
.scoreCount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
}

.rounded-box {
    width: 50px;
    height: 50px;
    background-color: #404040;
    border-radius: 10px;
    margin: 5px;
}

/* Image Container */
.imageContainer {
    height: auto;
    margin: 15px;
    width: auto;
}

.imageContainer img {
    height: 400px;
    display: block;
    margin: 0 auto;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 630px) {
    .scoreCount {
        width: auto;
    }

    #favicon {
        display: none;
    }

    #logo {
        height: 25px;
    }
}
@font-face {
    font-family: "Retosta"; /* Specify the font family name */
    src: url("../fonts/Retosta.otf") format("opentype"); /* Provide the path to the font file */
}
