@font-face {
    font-family: 'PartyConfetti';
    src: url('../assets/PartyConfetti.ttf') format('truetype');
}

.account-container form {
    display: flex;
    flex-direction: column;
}

.account-container input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#update-profile-button {
    margin-bottom: 10px;
}