.account-container {
    background-color: #2a2a2a; /* Dark background for the container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Darker shadow */
    max-width: 500px;
    margin: auto;
}

.account-container h1 {
    color: #f0f0f0; /* Light text color */
    text-align: center;
    margin-bottom: 20px;
}

.account-container form {
    display: flex;
    flex-direction: column;
}

.account-container input {
    margin-bottom: 10px;
}

#update-profile-button {
    margin-bottom: 10px;
}